<<<<<<< HEAD
<<<<<<< HEAD
$rootColor: #a0dec3;
$textColor: #04291e;
$textLight: #065e44;
$button-1: #3b826a;
$button-2: #215946;
$whiteText: #f0f5f3;

.app-container {
    background-color: $rootColor;
    text-align: center;
    display: flexbox;
}
=======
>>>>>>> parent of 721758b (Updated and functioning)
=======
>>>>>>> parent of 721758b (Updated and functioning)
